@charset "utf-8";

button,
input,
textarea {
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif; }
.section {
  padding-top: 20px;
  padding-bottom: 20px;
}
.text-right {
  text-align: right !important;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
/* ==========================================================
! >> General
========================================================== */
html {
  background: #e9e9e9;
}

body {
  color: #2c2c2c;
  font-size: 14px;
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  background: #FFD171;
  }
  
  
.section {
  padding-top: 40px;
  padding-bottom: 40px;
}
/* ==========================================================
! >> Typography
========================================================== */
.title1 {
  color: #031634;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 20px;
}
.title2 {
  color: #031634;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.title3 {
  color: #031634;
  font-size: 20px;
  font-weight: bold;
}
.title3:first-child {
  margin-top: 0!important;
}
.title4 {
  color: #031634;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 7px;
}
.title4:first-child {
  margin-top: 0!important;
}
.title4:first-child {
  margin-top: 0!important;
}
.title-of-section {
  text-align: center;
  margin-top: 0;
  margin-bottom: 60px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  display: inline-block;
  padding: 5px 20px;
  padding-bottom: 3px;
  background: #925BFF;
  font-size: 48px;
  border-radius: 6px;
}
.title-of-section.title-border:after {
  content: '';
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}
p {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 22px;
}
/* ==========================================================
! >> Buttons
========================================================== */
.btn {
  transition: all 0.3s ease-in-out;
  background-color: #ccc;
  margin-bottom: 8px;
}
.btn-default {
  border: 0;
  background: #da222b;
  color: #ffffff;
  padding: 15px 30px;
  font-weight: bold;
  text-transform: uppercase;
}
.btn-default:hover {
  background: #b80009;
  color: #ffffff;
}
/* ==========================================================
! >> Forms and Inputs
========================================================== */
.form-control {
  width: 100%!important;
  border-radius: 6px;
  height: 50px;
  font-size: 14px;
  color: #111;
  margin-bottom: 5px;
  border: 2px solid #ffffff;
  font-family: 'PT Sans', sans-serif;
  background-color: #fff;
  color: #ffffff;
  font-weight: bold;
}
textarea.form-control {
  min-height: 100px;
}
/* ==========================================================
! Header
========================================================== */
#header {
  background: #925BFF;
  color: #ffffff;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8888;
  transition: all 0.3s ease-in-out;
}

#header .container {
  position: relative;
}
#header .navbar {
  margin-bottom: 0;
}
.header-stick {
  position: fixed!important;
  top: 0;
  left: 0;
  opacity: 0.95;
  
}
.header-stick:hover {
  opacity: 1;
}
.header-stick .navbar {
  padding-top: 5px;
  padding-bottom: 5px;
}
.header-stick .navbar-brand {
  padding-top: 7px;
}
.navbar-brand {
  transition: all 0.3s ease-in-out;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  transition: all 0.3s ease-in-out;
}
.navbar li {
  position: relative;
}
.navbar li > a {
  border-radius: 3px;
}
.navbar li a {
  white-space: nowrap;
  color: #ffffff;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  font-size: 1.4em;
}
.navbar li a:hover,
.navbar li a:focus {
  color: #000;
  background: #09afad;
}
.navbar-toggle {
  color: #333;
  border-color: #ffffff;
}
.navbar-brand {
  max-width: 150px;
}
.navbar-brand img {
  width: 100%;
}
/* ==========================================================
! Footer
========================================================== */
#footer {
  color: #ffffff;
  background: #1b1919;
  padding-top: 0;
}
.secondary-footer {
  background: #111;
  padding-top: 15px;
  padding-bottom: 15px;
}
.footer-quote {
  padding-top: 4px;
  margin-bottom: 0;
}
/* ==========================================================
! Pages: General
========================================================== */
.padding-box {
  padding: 20px;
}
.contrast {
  background: #f2f2f2;
}
.social-icons a {
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: #925BFF;
  border-radius: 100%;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.social-icons a:hover {
  background: #da222b;
}
/* ==========================================================
! Section: Hero
========================================================== */
.section-mini-hero {
  min-height: 480px;
  background: #eee;
  color: #ffffff;
  position: relative;
  text-align: center;
  padding-top: 130px;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
.mini-hero-subtitle {
  font-size: 14px;
  font-weight: 200;
  margin-top: 0;
  text-transform: uppercase;
  color: #ffffff;
}
.mini-hero-title {
  font-size: 42px;
  font-weight: normal;
  letter-spacing: -2px;
  margin-bottom: 5px;
  margin-top: 10px;
  color: #ffffff;
}
.profile-pic img {
  border-radius: 100%;
  border: 6px solid rgba(255, 255, 255, 0.8);
  max-width: 220px;
  width: 100%;
  
}

.profile-pic img:hover {
	transform: scale(1.06, 1.06);
}
/* ==========================================================
! Section: Features
========================================================== */
.section-features {
  padding-top: 40px;
  padding-bottom: 40px;
}
.feature-item {
  text-align: center;
  margin-bottom: 20px;
  background: #340298;
  color: #ffffff;
  position: relative;
  padding-top: 25px;
  padding-bottom: 15px;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}
.feature-item:hover {
  margin-top: -5px;
}
.feature-icon {
  text-align: center;
  font-size: 25px;
  color: #ffffff;
  background: #031634;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  position: absolute;
  top: -25px;
  left: 50%;
  margin-left: -25px;
  transition: all 0.3s ease-in-out;
}
.feature-title {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.feature-description p {
  font-size: 14px;
  line-height: 16px;
}
/* ==========================================================
! Section: About
========================================================== */
.section-about {
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 8px;
  overflow: hidden;
}
.section-about .title3 {
  border-bottom: 1px dotted #ccc;
  padding-bottom: 4px;
  text-transform: uppercase;
}
.section-about .title3 {
  font-weight: bold;
  font-size: 14px;
}
.section-about .title-of-section {
  margin-bottom: 10px;
}
@media (min-width:992px) {
  .about-container .row {
    margin-left: 0px;
  }
}
p {
  font-weight: normal;
}

/* ==========================================================
! Section: Contact
========================================================== */
.section-contact {
  /* background: url('../images/bg3.jpg'); */
  background: #340298;
  background-size: cover;
  color: #ffffff !important;
}
.contact-box {
  padding: 20px;
  background: transparent;
  border-radius: 6px;
}
.contact-box h4 {
  margin-top: 0;
  color: #ffffff;
}
.contact-box .title4 {
  margin-top: 0;
}
/* ==========================================================
! CROSSBROWSER SOLUTIONS
========================================================== */

.clearfix {
  display: inline-block;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: block;
}

.contOut .contIn {
  width: 100%;
}
.contOut .contIn .section2 {
  padding-left: 30px;
  padding-right: 30px;
}
.contOut .contIn .section2.top {
  padding-top: 30px;
  padding-bottom: 15px;
}
.contOut .contIn .section2.top:hover img {
  filter: grayscale(0%);
}
.contOut .contIn .logoCont {
  float: left;
  width: 15%;
}
.contOut .contIn .logoCont .logo {
  width: 100%;
  max-width: 100px;
  min-width: 50px;
  height: auto;
  min-height: 50px;
  filter: grayscale(100%);
  border-radius: 2px;
  border: solid 1px #cccccc;
}
.contOut .contIn h1 {
  width: 45%;
  display: inline-block;
  font-family: "Playfair Display", serif;
  margin: -6px 0 0 0;
  font-size: 40px;
  line-height: 40px;
}
.contOut .contIn p.tagline {
  float: left;
  width: 45%;
  font-size: 14px;
}
.contOut .contIn p.tagline span {
  color: #999999;
}
.contOut .contIn .moreInfo {
  float: right;
  width: 40%;
  text-align: right;
}
.contOut .contIn .moreInfo p {
  margin: 0;
  line-height: 20px;
  word-wrap: break-word;
}

.contOut {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  background: #fff;
  position: relative;
  overflow: visible;
  margin-bottom: 6px;
}
.contOut:before {
  position: absolute;
  width: 6px;
  left: -6px;
  background: #000;
  content: "";
  display: block;
  height: 100%;
}
.contOut .contIn {
  width: 100%;
  float: left;
  padding: 10px;
  border: 1px solid black;
}
.contOut .contIn .section2 {
  padding-left: 30px;
  padding-right: 30px;
}
.contOut .contIn .section2.top {
  padding-top: 30px;
  padding-bottom: 15px;
}
.contOut .contIn .section2.top:hover img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.contOut .contIn .logoCont {
  float: left;
  width: 15%;
}
.contOut .contIn .logoCont .logo {
  width: 100%;
  max-width: 100px;
  min-width: 50px;
  height: auto;
  min-height: 50px;
  filter: grayscale(100%);
  border-radius: 2px;
  border: solid 1px #cccccc;
}
.contOut .contIn h1 {
  width: 45%;
  display: inline-block;
  font-family: "Playfair Display", serif;
  margin: -6px 0 0 0;
  font-size: 40px;
  line-height: 40px;
}
.contOut .contIn p.tagline {
  float: left;
  width: 45%;
  font-size: 14px;
}
.contOut .contIn p.tagline span {
  color: #999999;
}
.contOut .contIn .moreInfo {
  float: right;
  width: 40%;
  text-align: right;
}
.contOut .contIn .moreInfo p {
  margin: 0;
  line-height: 20px;
  word-wrap: break-word;
}

.middle {
  padding-top: 20px;
  padding-bottom: 20px;
}
.middle h2 {
  border-left: solid 0 #fff;
  transition: all 200ms ease-in;
}
.middle h2 i.fa {
  display: inline-block;
  margin-left: 10px;
}
.middle h2 i.fa:hover {
  cursor: pointer;
  color: #0176ae;
}
.middle:hover h2 {
  border-left: solid 10px black;
  padding-left: 8px;
  transition: all 100ms ease-in;
}
.middle .job {
  width: 100%;
  float: left;
}
.middle .job h2 {
  margin: 0;
}
.middle .job h2 span {
  float: right;
  /* display: inline-block; */
  font-size: 16px;
  background: black;
  color: #fff;
  padding: 6px 8px;
  min-width: 120px;
  text-align: center;
}
.middle .job p {
  margin: 6px 0;
}
.middle .job p .brag {
  display: inline-block;
  margin: 10px 0;
  font-style: italic;

  background: #925BFF;
  color: #fff;
  padding: 20px 20px 20px 50px;
  text-align: justify;
  border-bottom: solid 1px #bfbfbf;
  position: relative;
  text-shadow: 0 1px 1px #fff;
}
.middle .job p .brag:before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid #fff;
}

.divider {
  width: 100%;
  float: left;
}
.divider:after {
  position: absolute;
  width: 100%;
  margin-top: 0px;
  bottom: -11px;
  left: -3px;
  background: #000;
  content: "";
  display: block;
  transform: skew(-31deg, 0deg);
  height: 11px;
}

@media(max-width: 500px) {
  .middle .job p .brag {
    padding-left: 20px;
    max-height: none;
  }
  .middle .job p .brag:before {
    border-top: none;
    border-bottom: none;
    border-left: none;
  }

  .middle .job h2 span {
    margin-top: 10px;
  }

  .contOut .contIn h1 {
    font-size: 28px;
  }
  .contOut .contIn .moreInfo {
    font-size: 14px;
  }
}
@media(max-width: 450px) {
  .contOut .contIn .moreInfo, .contOut .contIn p.tagline {
    font-size: 12px;
  }
}

.lista li {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
 }